<div class="container">
<div class="row _row-all">
  <div class="col-sm-10">
    <div class="blog-post">
      <div class="post-title">
        <h3> <%= @project.title %> </h3>

        <div class="row poster-info">
          <div class="col">
            <%= @project.created_at.strftime("Posted on %b-%d-%Y") %>
          </div>
          <div class="col">

          </div>
        </div>
      </div>
      <div class="tldr">
        <h4>TL:DR</h4>
        <p>bunch of info fffffffffffffffffffff
        ffffffffffffffffffffffffffffffffffffffff
      ffffffffffffffffffffffffffffffffff</p>
      </div>
      <div class="main-pic" >
        <%= cl_image_tag(@project.thumbnail.key, scale: "fill", class: "img-fluid") %>
      </div>
      <div class="project-text">
         <p> <%= @project.text %> </p>
      </div>
      <div>
        <div>
          <h4> <%= @project.live_version %> </h4>
          <h4> <%= @project.github_version %> </h4>
        </div>
        <%= link_to "Back to Projects", projects_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <div class="col-sm-2 links">
    <h4> <a href="<%= @project.live_version %>"> Live version</a> </h4>
    <h4> <a href="<%= @project.github_version %>"> Live version</a> </h4>
    <h4> <%= link_to "Back to Index", projects_path %> </h4>
    <div>

    </div>
  </div>
</div>
</div>
